<div class="container">
  <h3  style="text-align:center">CADASTRO TRANSPORTE UNIVERSITÁRIO</h3>
  <hr class="header">

  <ul class="steps">
    <li [class.is-active]="visualizationPessoais">Dados Pessoais</li>
    <li [class.is-active]="visualizationEnd">Endereços</li>
    <li [class.is-active]="visualizationInsti">Informação da Instituição</li>
    <li [class.is-active]="visualizationDoc">Importação de Documentos</li>
  </ul>


  <div class="content" style=" margin-top: 10px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form novalidate role="form" [formGroup]="formNewUser" (ngSubmit)="onSubmit()">
                <div class="form-content">
                  <!--********************************DADOS PESSOAS******************************* -->
                  <div *ngIf="visualizationPessoais">
                    <div class="row justify-content-end" style="margin-bottom:-3em">
                      <div class="col-4" style="margin-right: 5px; font-size:16px; font-weight:bold">
                        Passo 1
                        <hr>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-4">
                        <fieldset class="form-group">
                          <label class="radio-inline">
                            <input class="ng-tns-c9-2" checked="" id="optionsRadiosInline1" name="optionsRadiosInline" type="radio" value="option1">Estudante
                          </label>

                          <label class="radio-inline">
                            <input class="ng-tns-c9-2" id="optionsRadiosInline2" name="optionsRadiosInline" type="radio" value="option2"> Professor
                          </label>
                        </fieldset>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-12">
                        <label class="control-label">Nome Completo</label>
                        <input aria-describedby="addon-right addon-left" type="text" placeholder="Fulano de Tal" class="form-control" formControlName="name"
                          d>
                      </div>
                    </div>


                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">RG</label>
                        <input aria-describedby="addon-right addon-left" type="text" disabled="disabled" class="form-control">
                      </div>

                      <div class="form-group col-md-2">
                        <label class="control-label">UF</label>
                        <input aria-describedby="addon-right addon-left" type="text" class="form-control">
                      </div>

                      <div class="form-group col-md-4">
                        <label class="control-label">Data de Expedição</label>
                        <input aria-describedby="addon-right addon-left" type="email" class="form-control">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">CPF</label>
                        <input aria-describedby="addon-right addon-left" type="text" disabled="disabled" class="form-control">
                      </div>

                      <div class="form-group col-md-6">
                        <label class="control-label">Tipo Sanguíneo</label>

                        <select class="custom-select col-md-6">
                          <option value="INVALID" selected>Escolha um tipo</option>
                          <option value="RESIDENCIAL">A+</option>
                          <option value="COMERCIAL">A-</option>
                          <option value="CELULAR">B+</option>
                          <option value="FIXO-RECADO">B-</option>
                          <option value="CELULAR-RECADO">AB+</option>
                          <option value="CELULAR-RECADO">AB-</option>
                          <option value="CELULAR-RECADO">O+</option>
                          <option value="CELULAR-RECADO">O-</option>
                          <option value="CELULAR-RECADO">NÃO SEI INFORMAR</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Nome da Mãe</label>
                        <input aria-describedby="addon-right addon-left" type="text" placeholder="Fulano de Tal" class="form-control">
                      </div>

                      <div class="form-group col-md-6">
                        <label class="control-label">Telefone para Contato</label>
                        <input aria-describedby="addon-right addon-left" type="text" placeholder="Fulano de Tal" class="form-control">
                      </div>
                    </div>

                    <div class="text-center">
                      <button class="btn btn-info float-right" type="button" (click)="openVisualizationForms('personalData', 'next')">Proximo</button>
                    </div>
                  </div>

                  <!--********************************ENDEREÇOS******************************* -->
                  <div *ngIf="visualizationEnd">
                    <h5>Endereço</h5>
                    <hr>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Logradouro</label>
                        <input aria-describedby="addon-right addon-left" type="text" class="form-control">
                      </div>
Oiiiiiiiiiiiiiii
                      <div class="form-group col-md-2">
                        <label class="control-label">Nº</label>
                        <input aria-describedby="addon-right addon-left" type="text" class="form-control">
                      </div>

                      <div class="form-group col-md-4">
                        <label class="control-label">Bairro</label>
                        <input aria-describedby="addon-right addon-left" type="text" class="form-control">
                      </div>


                    </div>
                    <div class="text-center">
                      <button class="btn btn-info float-left" type="button" (click)="openVisualizationForms('address', 'previous')">Anterior</button>
                      <button class="btn btn-info float-right" type="button" (click)="openVisualizationForms('address', 'next')">Proximo</button>
                    </div>
                  </div>

                  <!--********************************DADOS DA INSTITUIÇÃO******************************* -->
                  <div *ngIf="visualizationInsti">
                    <h5>Dados da Instituição</h5>
                    <hr>
                    <div class="row">

                      <div class="form-group col-md-6">
                        <label class="control-label">Nome da Instituição</label>

                        <select class="custom-select col-md-6">
                          <option value="INVALID" selected>Escolha um nome</option>
                          <option value="RESIDENCIAL">UFMS</option>
                          <option value="COMERCIAL">IFMS</option>
                          <option value="CELULAR">AEMS</option>
                          <option value="FIXO-RECADO">FUNEC</option>
                          <option value="CELULAR-RECADO">FEA</option>
                          <option value="CELULAR-RECADO">AB-</option>
                          <option value="CELULAR-RECADO">FIU</option>
                          <option value="CELULAR-RECADO">FIRB</option>
                        </select>

                      </div>

                      <div class="form-group col-md-6">
                        <label class="control-label">Cidade da Instituição</label>

                        <select class="custom-select col-md-6">
                          <option value="INVALID" selected>Escolha uma cidade</option>
                          <option value="RESIDENCIAL">TRÊS LAGOAS - MS </option>
                          <option value="COMERCIAL">PEREIRA BARRETO - SP</option>
                          <option value="CELULAR">ANDRADINA - SP</option>
                          <option value="FIXO-RECADO">SANTA FÉ DO SUL - SP</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-7">
                        <label class="control-label">Nome do Curso</label>
                        <input aria-describedby="addon-right addon-left" type="text" disabled="disabled" class="form-control">
                      </div>

                      <div class="form-group col-md-2">
                        <label class="control-label">Ano de Início</label>
                        <input aria-describedby="addon-right addon-left" type="text" class="form-control">
                      </div>

                      <div class="form-group col-md-3">
                        <label class="control-label">Previsão de Término</label>
                        <input aria-describedby="addon-right addon-left" type="email" class="form-control">
                      </div>
                    </div>

                    <br>

                    <div class="row">
                      <div class="form-group col-md-6">

                        <label>Perído de Ida</label>

                        <div class="table-responsive">
                          <table class="table table-md">
                            <thead>
                              <tr id="periodosOnibus">
                                <th scope="col"></th>
                                <th scope="col">Manhã - 7h </th>
                                <th scope="col">Tarde - 13h</th>
                                <th scope="col">Noite - 18h40</th>
                                <th scope="col">Não Vou</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let day of daysOfTheWeek">
                                <th scope="row">{{day}}</th>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="form-group col-md-6">

                        <label>Perído de Volta</label>

                        <div class="table-responsive">
                          <table class="table table-md">
                            <thead>
                              <tr id="periodosOnibus">
                                <th scope="col"></th>
                                <th scope="col">Manhã - 12h </th>
                                <th scope="col">Tarde - 17h30</th>
                                <th scope="col">Noite - 23h40</th>
                                <th scope="col">Não Vou</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let day of daysOfTheWeek">
                                <th scope="row">{{day}}</th>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                                <td>
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button class="btn btn-info float-left" type="button" (click)="openVisualizationForms('institution', 'previous')">Anterior</button>
                      <button class="btn btn-info float-right" type="button" (click)="openVisualizationForms('institution', 'next')">Proximo</button>
                    </div>
                  </div>
                  <!--********************************DOCUMENTOS******************************* -->
                  <div *ngIf="visualizationDoc">
                    <h5>Importação de Documentos</h5>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">

                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-info float-right">Cadastrar</button>
                      <button type="button" class="btn btn-info float-left" (click)="openVisualizationForms('documents', 'previous')">Anterior</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>